%html
%body
  %header.navbar.navbar-fixed-top.navbar-inverse
    .navbar-inner
      .container
        %nav
          %ul.nav.pull-left
            %li= link_to "Home", '/home'
            %li= link_to "About",'/about'
          %ul.nav.pull-right
            %li= link_to "Sign up", '#'
            %li= link_to "Sign in", '#'
.center.hero-unit
  %h2 About
  %p The originator of the site.
  %h2 Expansions
  %ul
    %li Add newsfeed
    %li Allow search by street address
    %li Expand government officials to the city level (Oregon)
    %li Voting record