%html
%body
.center.hero-unit
  %h2 Congressional Political Information
  %p Enter your State's abbreviation below to look up your members of Congress.
  .row-fluid
    .control-group
      %label.control-label{:for => "textinput"}