<body>
  <header class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
      <div class="container">
<!--           <%= link_to "PIA", 'static_pages#home', id: "logo" %>
-->          <nav>
          <ul class="nav pull-left">
            <li><%= link_to "Home", '/home' %></li>
            <li><%= link_to "About",'/about' %></li>
          <!-- FIXME make sign in page and form system -->
          </ul>
          <ul class="nav pull-right">
            <li><%= link_to "Sign in", '#' %></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
    <div class="center hero-unit">
    <h1>StaticPages#submit</h1>
    <p>Find me in app/views/static_pages/submit.html.erb</p>
  </div>
</body>