%html
%body
  %header.navbar.navbar-fixed-top.navbar-inverse
    .navbar-inner
      .container
        %nav
          %ul.nav.pull-left
            %li= link_to "Home", '/home'
            %li= link_to "About",'/about'
          %ul.nav.pull-right
            %li= link_to "Sign up", '#'
            %li= link_to "Sign in", '#'
  .center.hero-unit
    %h1 Submit
    %p Where results of congressional search by zip will be displayed