@import "flat-ui";

.btn.btn-primary {
  background-color: #bc1a3a ;

}

.btn:hover, .btn:focus {
  background-color: #791125 !important ;

}


a:hover {
  color: #bc1a3a !important ;
  text-decoration: none;

}
