@import "flat-ui";

.btn.btn-primary {
  background-color: #bc1a3a;

}

.btn:hover, .btn:focus {
  background-color: #791125 !important;

}


a:hover {
  color: #bc1a3a !important;
  text-decoration: none;

}

h2 {
  color: #bc1a3a !important;
}

.container {
  margin-top: 60px;
}

input, zip, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}